<div class="page-header">
  <h1>Ver Encuesta</h1>
</div>
<div class="well well-lg">
  <strong>Pregunta</strong><br>{{poll.question}}
</div>
<div ng-hide="poll.userVoted">
  <p class="lead">Por favor, selecciona una de las siguientes opciones.</p>
  <form role="form" ng-submit="vote()">
    <div ng-repeat="choice in poll.choices" class="radio">
      <label>
        <input type="radio" name="choice" ng-model="poll.userVote" 	value="{{choice._id}}">
        {{choice.text}}
      </label>
    </div>
    <p><hr></p>
    <div class="row">
      <div class="col-xs-6">
        <a href="#/polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Volver al List do de Encuestas</a>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-primary pull-right" type="submit">	Votar &raquo;</button>
      </div>
    </div>
  </form>
</div>
<div ng-show="poll.userVoted">
  <table class="result-table">
    <tbody>
      <tr ng-repeat="choice in poll.choices">
        <td>{{choice.text}}</td>
        <td>
          <table style="width: {{choice.votes.length	/poll.totalVotes*100}}%;">
            <tr><td>{{choice.votes.length}}</td></tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table> 
  <p><em>{{poll.totalVotes}} votos contados hasta el momento. <span ng-show="poll.userChoice">Usted votó por <strong>{{poll.userChoice.text}}</strong>.</span></em></p>
  <p><hr></p>
  <p><a href="#/polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Volver a la lista de Encuestas</a></p>
</div>
<p>&nbsp;</p>