<div class="page-header">
    <h1>Lista de Encuesta</h1>
</div>
<div class="row">
    <div class="col-xs-5">
        <a href="#/new" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Nueva Encuesta</a>
    </div>
    <div class="col-xs-7">
        <input type="text" class="form-control" ng-model="query" placeholder="Buscar una Encuesta">
    </div>
</div>
<div class="row"><div class="col-xs-12"><hr></div></div>
<div class="row" ng-switch on="polls.length">
    <ul ng-switch-when="0">
        <li><em>No hay encuestas en la base de datos. Te gustaria <a href="#/new">crear una</a>?</li>
    </ul>
    <ul ng-switch-default>
        <li ng-repeat="poll in polls | filter:query">
            <a href="#/poll/{{poll._id}}">{{poll.question}}</a>
        </li>
    </ul>
</div>
<p>&nbsp;</p>
